/*=========================================================================================
  File Name: main.scss
  Description: Main scss file. Imports other scss partials from 'vuesax' folder
  ----------------------------------------------------------------------------------------
  Item Name: Vuesax Admin - VueJS Dashboard Admin Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
==========================================================================================*/

@import "vuesax/variables";

@import "vuesax/layout";
@import "vuesax/typography";
@import "vuesax/misc";
@import "vuesax/extraComponents";
@import "vuesax/themes";
@import "vuesax/routerAnimations";
@import "vuesax/transitions";

@import "vuesax/customClasses";

// Vuesax fixes and enhancments
@import "vuesax/fixesVuesax";

// Tailwind Fixes
@import "vuesax/tailwindFix";

.file-uploads {
  overflow: hidden;
  position: relative;
  text-align: center;
  display: inline-block;
}
.file-uploads.file-uploads-html4 input[type="file"] {
  opacity: 0;
  font-size: 20em;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.file-uploads.file-uploads-html5 input[type="file"] {
  overflow: hidden;
  position: fixed;
  width: 1px;
  height: 1px;
  z-index: -1;
  opacity: 0;
}